/* GamedayPageStyles.css */
.gameday-page-container {
    display: flex;
    flex-direction: column; /* Stack the header, content, and footer vertically */
    min-height: 100vh; /* Ensure the page takes up at least the full viewport height */
  }
  
  
  
  .gameday-content {
    flex-grow: 1; /* This makes sure the content takes up the available space between header and footer */
    padding: 20px; /* Add padding for spacing */
    background-color: #f0f0f0; /* Light background color for the content area */
    
  }
  
  